<header>
    <div>
        <img src="/static/logo.png" alt="">
        <h1>Alugue-um-carro</h1>
    </div>
    
    <nav>
        <a href="/contato">Fale conosco</a>
        <a href="/">Home</a>
        <a href="/gatos">Gatos</a>
        <a href="/sobre">Sobre</a>
    </nav>
</header>