<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <section class="home">
        <div class="banner">
            <h2>Bem vindo ao Car Jhonson</h2>
            <img src="https://i.ytimg.com/vi/hXo5MutHig4/maxresdefault.jpg" alt="">
        </div>
        

    </section>
    
    <%- include('shared/footer') %>
</body>
</html>